<div class="root-container">
    <div class="main-container">
        <h1>RESET YOUR PASSWORD</h1>
        <p>We will send you an email to reset your password</p>
        <form (ngSubmit)="resetPassword(f)" #f="ngForm" class="login-container">
            <div class="email">
                <label for="email">Email</label><br>
                <input type="text" placeholder="Email" ngModel name="email" required email #email="ngModel">
                <p *ngIf="email.invalid && email.touched" class="error-msg"><i class="fas fa-exclamation"></i> please enter a valid email</p>
            </div>
            <div>
                <button type="submit" class="submit-btn"
                [class.disabled]="!f.valid && f.touched" [disabled]="!f.valid">Submit</button>
            </div>
        </form>
        <a routerLink="/login"><button class="cancel-btn">Cancel</button> </a>
    </div>
</div>