<div class="main-container">

    <div class="socials">
        <a href="https://web.facebook.com/FXGTeam"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/FXG_MA"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCIfcVnJS0qoPMoKNW5c4VdQ"><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-twitch"></i></a>
    </div>
    <div class="footer-menu">
        <img src="../../assets/Fox_Gaminglogo_square.png" alt="team-logo">
        <div class="fox-gaming-section">
            <a href="#">News</a>
            <a href="#">About</a>
            <a href="#">Partners</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
        </div>
        <div class="shop-section">
            <a href="#">All Products</a>
            <a href="#">Pro Kit</a>
            <a href="#">National Jerseys</a>
            <a href="#">LifeStyle</a>
            <a href="#">Hardware</a>
            <a href="#">Accessorries</a>
        </div>
        <div class="teams-section">
            <a href="#">League of legends</a>
            <a href="#">Valorant</a>
            <a href="#">Rocket League</a>
            <a href="#">CS:GO</a>
        </div>

        <div class="search-payment-section">
            <!-- 
        </div>
    </div>
</div>