.main-container{
    height: 70vh;
    background-color: black;
    font-family: 'Oswald';
    display: flex; 
    flex-direction: column;
    justify-content: space-around;

}

img{
    height: 100px; 
    width: 100px;
}

a{
    text-decoration: none;
    color: white;
}

.socials{
    display: flex; 
    padding: 15px;
    justify-content: center;
}

.socials a{
    margin: 0 20px; 
}

.socials a:hover{
    color:var(--primary-color)
}

.socials i{
    font-size: 35px;
}

.footer-menu{
    display: flex; 
    justify-content: space-around;
    font-size: 16;
    font-weight: 400;
}


.footer-menu a:hover{
    color:var(--primary-color)
}

.footer-menu h1{
    color:var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}
.fox-gaming-section, 
.shop-section, 
.teams-section{
    display: flex; 
    flex-direction: column;
    flex:2
}
.fox-img{
    flex:2;
    padding-left: 30px;
    display:flex; 
    align-items: center;
}
.search-payment-section{
    flex:4;
    display: flex; 
    flex-direction: column;
    justify-content:space-around;
}

.copyrights{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 9px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrights a{
    margin: 0 5px; 
}

.copyrights a:hover{
    color: var(--primary-color);
}

.copyrights-spans{
    margin: 0 10px;
}

.search-payment-section h2{
    color:white; 
    font-size: 14px;
    font-weight: 400;
}

.search{
    display:flex; 
    justify-content: center;
}
button{
    width: 20%;
    background-color: var(--primary-color);
    color:white; 
    border:none;
    padding:5px;
    font-family: 'Oswald';
    font-weight: 600;
    transition: background-color 0.5s, color 0.5s ;
    border-radius:0 10% 10% 0 ;
}

button:hover{
    color:var(--primary-color); 
    background-color: white; 
    cursor: pointer;
}
input{
    width: 70%;
    padding: 5px;
    border:none;
    outline: none;
    font-family: 'Oswald';
    font-weight: 600;
    border-radius: 5% 0 0 5%;


}

.primary-color{
    color:var(--primary-color); 
    font-weight: 500;
}
.boxes{
    display: flex; 
    flex-direction: row;
}
.box{
    height: 40px; 
    width: 50px;
    border-radius: 20%;
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box1{
    background-image: url(../../assets/master-card.png);

}

.box2{
    background-image: url(../../assets/paypal.png);


}

.box3{
    background-image: url(../../assets/visa.png);


}
