<div class="root-container">
    <div class="main-container">
        <h1>RESET YOUR PASSWORD</h1>
        <p>We will send you an email to reset your password</p>
            <div class="login-container">
                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="text" placeholder="Email">
                </div>
            </div>
            <a routerLink="/home" routerLinkActive="active"><button class="submit-btn">Submit</button> </a><br>
            <a routerLink="/login" routerLinkActive="active"><button class="cancel-btn">Cancel</button> </a>

    
    </div>
</div>