<div class="container">
    <app-sidebar (closeSideBar)="closeSideBar()" [ngClass]="{'opened': displaySideBar === true, 'closed': displaySideBar === false && displaySideBar !== undefined}" ></app-sidebar> 
    <div class="main">
        <div class="left-menu">
            <div class="navTab" (click)="openSidebar()"><i class="fas fa-bars"></i></div>
            <div class="logo desktop">
                <a routerLink="/home" routerLinkActive="active"><img src="../../../assets/Fox_Gaminglogo_square.png" alt="fxg-logo"></a>
            </div>
            <div class="navbar-menu">
                <span class="teams" (click)="teamsModal()">Teams<i class="fas fa-chevron-down"></i></span>
                <span class="shop"><a routerLink="/shop">Shop</a></span>
                <span class="News"><a routerLink="/news">News</a></span>
                <span class="media"><a routerLink="/media">Media</a></span>
                <span class="company" aria-hidden="true"><a routerLink="/about">About</a></span>
            </div>
        </div>
        <div class="logo mobile">
            <a routerLink="/home" routerLinkActive="active"><img src="../../../assets/Fox_Gaminglogo_square.png" alt="fxg-logo"></a>
        </div>
        <div class="right-menu">
            <a *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active"><span class="login">Login</span></a>
            <a *ngIf="loggedIn" (click)='logout()'><span class="login">Logout</span></a>

            <a routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
            <div class="cart-notification">{{itemsInCart}}</div>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <app-teams (closeTeamsTab)="teamsModal()" class="modal" *ngIf="showTeamsModal"></app-teams>
</div>
