<div class="container">
    <div class="main">
        <div class="left-menu">
            <div class="logo">
                <a routerLink="/home" routerLinkActive="active"><img src="../../../assets/Fox_Gaminglogo_square.png" alt="fxg-logo"></a>
            </div>
            <div class="navbar-menu">
                <span class="teams" (click)="teamsModal()">Teams<i class="fas fa-chevron-down"></i></span>
                <span class="shop"><a routerLink="/shop" routerLinkActive="active">Shop</a></span>
                <span class="News">News</span>
                <span class="media">Media<i class="fas fa-chevron-down"></i></span>
                <span class="company" aria-hidden="true">Company<i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
        <div class="right-menu">
            <a routerLink="/login" routerLinkActive="active"><span class="login">Login</span></a>
            <a routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
            <div class="cart-notification">{{itemsInCart}}</div>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <app-teams class="modal" *ngIf="showTeamsModal"></app-teams>
    <app-shop class="modal" *ngIf="showShopModal"></app-shop>
    <app-media class="modal" *ngIf="showMediaModal"></app-media>
    <app-company class="modal" *ngIf="showCompanyModal"></app-company>
</div>