<div class="container">
    <app-sidebar (closeSideBar)="closeSideBar()" [ngClass]="{'opened': displaySideBar === true, 'closed': displaySideBar === false && displaySideBar !== undefined}" ></app-sidebar> 
    <div class="main">
        <div class="left-menu">
            <div class="navTab" (click)="openSidebar()"><i class="fas fa-bars"></i></div>
            <div class="logo desktop">
                <a routerLink="/home" routerLinkActive="active"><img src="../../../assets/Fox_Gaminglogo_square.png" alt="fxg-logo"></a>
            </div>
            <div class="navbar-menu">
                <span class="teams" (click)="teamsModal()">Teams<i class="fas fa-chevron-down"></i></span>
                <span class="shop"><a routerLink="/shop" routerLinkActive="active">Shop</a></span>
                <span class="News">News</span>
                <span class="media">Media</span>
                <span class="company" aria-hidden="true">Company</span>
            </div>
        </div>
        <div class="logo mobile">
            <a routerLink="/home" routerLinkActive="active"><img src="../../../assets/Fox_Gaminglogo_square.png" alt="fxg-logo"></a>
        </div>
        <div class="right-menu">
            <a *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active"><span class="login">Login</span></a>
            <a *ngIf="loggedIn" (click)='logout()'><span class="login">Logout</span></a>

            <a routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
            <div class="cart-notification">{{itemsInCart}}</div>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <!-- <p-sidebar [(visible)]="displaySideBar">
        Content
    </p-sidebar> -->
    <app-teams class="modal" *ngIf="showTeamsModal"></app-teams>
</div>
