.main{
    background-color: orange;
    padding:5px;
    font-family: 'Oswald';
    font-weight: 400;
    color: white;



}
.title{
    display: flex; 
    align-items: center;
}

p{
    margin: 0;
}

span{
    font-size: 700;
}

.fxg-logo{
    width:30x; 
    height: 30px;
    margin: 0 10px 0 10px;
}