
<div class="main-container">
    <div class="image-container">
        <img [src]="currentProduct.productIcon" alt="jersey-image">
    </div>
    <div class="description-container">
        <div class="content">
            <h1>{{currentProduct.productDescription}}</h1>
            <h2> {{currentProduct.productPrice}}</h2>
            <h3>Size:S</h3>
            <h3>Quantity</h3>
            <button>ADD TO CART</button>
            <button><i class="fas fa-heart"></i></button>
        </div>
    </div>

</div>