.carousel{
    margin: 20px 0;
}

img{
    width: 100%;
}

.sponsors{
    background-color: rgba(245, 245, 245, 0.857);
    display:flex; 
    justify-content: center;
    margin: 10px 0;
}
.sponsors img{
    height:70px; 
    width: 70px;
}

.teams{
    font-family: 'Roboto', sans-serif;}


.teams h1{
    font-size: 175px;
    text-align: end;
    margin-bottom: 0;
    margin-top: 50px;
    -webkit-text-stroke: 2px rgb(163, 163, 163);
    opacity: 0.5;
    color:white

}

.teams span{
    color: var(--primary-color);
}

.teams h2, .teams h3{
    text-align: center;
    font-size: 30;
    margin: 0;
}

.teams h3{
    font-weight: 300;
    font-size: 12;
}

.desc{
    position: relative;
    bottom: 70px;
}
