<div class="main-container">
    <div class="carousel">
        <carousel height="400" 
                  cellWidth="100%" 
                  autoplayInterval="4000" 
                  dots="true"
                  transitionDuration="1000"
                  transitionTimingFunction="ease"
                  borderRadious="100"
                  arrows="true"
                  arrowsTheme="dark"
                 > 
         
                <div class="carousel-cell">
                    <img src="../../assets/carousel-bg-1.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="../../assets/fxg-lol-team.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="../../assets/fxg-lol-team2.jpg">
                </div>
                <div class="carousel-cell">
                    <img src="../../assets/fanart-lolteam.jpg">
                </div>
        </carousel>
    </div>
    <div class="sponsors">
        <img src="../../assets/e-sport-logo.png" alt="mdjs-logo">
    </div>
    <div class="teams">
        <h1>TEAMS</h1>
        <div class="desc">
            <h2>FOX GAMING <span>TEAMS</span></h2>
            <h3>Meet Our Squads</h3>
        </div>
    </div>
</div>