.root-container{
    width:100%;
    background-image: url(../../../assets//white-bg.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 500px;
    display: flex; 
    flex-direction: column;
    padding: 0 60px 20px 60px;
    font-family: 'Oswald';
    background-color: #F6F6F6;
    margin: 20vh 0;
    border:3px solid var(--primary-color)
}



h1{
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 5px; 
}

h2{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0; 
}

h2 a{
    text-decoration: none;
    color:var(--primary-color)
}

p{
    font-size: 12px;
    text-align: center;
}

.email{
    margin-bottom: 15px;
}

input{
    width: 100%;
    padding: 12px;
}



.login-container a{
    text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    color:var(--primary-color)
}

.login-container a:hover{
    text-decoration: underline;
}

button {
    background-color: var(--primary-color); 
    color:white;
    border:none;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-weight: 800;
}

.main-container a{
    text-align: center;
}

button:hover{
    border: 1px solid var(--primary-color); 
    color:var(--primary-color); 
    background-color: white;
    cursor: pointer;

}

/* VALIDATION */ 
.error{
    margin-top: 5px;
    color:red; 
    text-align: end;
}

.error .fa-exclamation{
    margin-right: 5px;
}

button.disabled{
    cursor: not-allowed;
}
input.ng-invalid.ng-touched{
    border:2px solid red;
}


@media screen and (max-width: 500px) {
    .main-container .desc{
        display:none;
    }
    .main-container{
        width: 400px;
    }

    
}