<div class="root-container">
    <div class="main-container">
        <h1>LOGIN</h1>
        <h2>New to Fox Gaming? <a routerLink="/register" routerLinkActive="active">Create An Account</a></h2>
        <p>Welcome to our new Shop! To activate your previous account and access
            your information please create a new account with the SAME email address.</p>
            <div class="login-container">
                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="text" placeholder="Email">
                </div>
                <div class="password">
                    <label for="password">Password</label><br>
                    <input type="password" placeholder="Password">
                </div>
                <a routerLink ="/forgot-password" routerLinkActive="active" >Forgot your password</a>
            </div>
            <a routerLink="/home" routerLinkActive="active"><button>LOGIN</button> </a>
    
    </div>
</div>