<div class="root-container">
    <div class="main-container">
        <h1>UPDATE YOUR PASSWORD</h1>
        <form (ngSubmit)="updatePassword(f)" #f="ngForm" class="login-container">
            <div class="password">
                <label for="password">Password</label><br>
                <input type="password" ngModel name="password" required minlength="6"
                    #password="ngModel">
                <p *ngIf="password.invalid && password.touched" class="error-msg"><i class="fas fa-exclamation"></i>
                    please enter a valid password</p>
            </div>
            <div class="password">
                <label for="re-password">Re-Password</label><br>
                <input type="password" ngModel name="RePassword" required minlength="6"
                    #RePassword="ngModel">
                <p *ngIf="RePassword.invalid && RePassword.touched" class="error-msg"><i class="fas fa-exclamation"></i>
                    please enter a valid password</p>
            </div>
            <div>
                <button type="submit" class="submit-btn" [class.disabled]="!f.valid && f.touched"
                    [disabled]="!f.valid">Submit</button>
            </div>
        </form>
    </div>
</div>