<div class="container">
    <div class="header">
        <i (click)="onCloseSideBar()" class="fas fa-times"></i>
        <img src="../../../assets/fxg-logo-black-white.png" alt="fxg-logo">
    </div>
    <div class="menu">
        <a class="link" routerLink="/squads" (click)="onCloseSideBar()">TEAMS</a>
        <a class="link" routerLink="/news" (click)="onCloseSideBar()">NEWS</a>
        <a class="link" routerLink="/media" (click)="onCloseSideBar()">MEDIA</a>
        <a class="link" routerLink="/about" (click)="onCloseSideBar()">ABOUT</a>
        <div *ngIf="loggedIn" (click)="onLogout()" class="link"><span>LOGOUT</span></div>
        <div *ngIf="!loggedIn" (click)="onLogin()" class="link"><span>LOGIN</span> 
    </div>
</div>