<div class="root-container">
    <div class="main-container">
        <h1>CREATE AN ACCOUNT</h1>
        <h2>Already sign up to Fox Gaming? <a routerLink="/login" routerLinkActive="active">Sign in</a></h2>
        <p>Welcome to our new Shop! To activate your previous account and access
            your information please create a new account with the SAME email address.</p>
            <div class="login-container">
                <div class="fname">
                    <label for="fname">First Name</label><br>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="lname">
                    <label for="lname">Last Name</label><br>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="text" placeholder="Email">
                </div>
                <div class="password">
                    <label for="password">Password</label><br>
                    <input type="password" placeholder="Password">
                </div>
                <div class="checkbox-section">
                    <input type="checkbox"> <span>Keep me up to date on news and offers</span>
                </div>
            </div>
            <a routerLink="/home" routerLinkActive="active"><button>REGISTER</button></a>
    
    </div>
</div>