/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import '~ngx-toastr/toastr';

.toast-title, .toast-message {
    font-family: var(--ff-primary);
}

.toast-title{
    font-size: 1rem;
}

.toast-message{
    font-size: 0.9rem;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(245,84,32); 

    --ff-primary: "Oswald", sans-serif; 
    --ff-secondary: "Roboto", sans-serif; 
    font-size: 16px;
}

body, h1, h2, h3, p, div{
    margin: 0; 
    padding: 0;

}

body.overflow-off{
    height: 100%; 
    overflow: hidden;
}

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
