<div class="main">
    <div class="left-content">
        <h1>Browse:</h1>
        <h2>ALL MATCHES</h2>
        <h2>ALL ACHIEVEMENTS</h2>
        <button>ALL TEAMS</button>
    </div>
    <div class="right-content">
        <div class="first-row">
            <div class="box leagueoflegends"><img src="../../../../assets/lol-logo.png" alt="lol-logo"></div>
            <div class="box valorant"><img src="../../../../assets/valorant-logo-2.png" alt="valo-logo"></div>
        </div>
    </div>
</div>