.main{
    height: 40vh;
    background-color: rgb(246,246,246);
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 18px;
    cursor: pointer;
}

h2{
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

h1, h2:hover{
    color: var(--primary-color);
}

button{
    background-color:rgb(246,246,246) ;
    border: 2px solid black; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: 800;
    
}

button:hover{
    color:white; 
    background-color: rgb(245,84,32);
    border:2px solid rgb(245,84,32);
}

.right-content{
display: flex; 
flex-direction: column;
}

.first-row, .second-row{
    display: flex; 
    justify-content: center;
}

.box{
    width:250px; 
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 3%;
    cursor: pointer;
}

.box.leagueoflegends{
    background-image: url(../../../../assets/lol-bg-bw.jpg);
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: background-image 1s;
}
.leagueoflegends:hover{
    background-image: url(../../../../assets/lol-bg.jpg);
    background-size: cover;
    background-position: center;
}

 img{
    width:50%; 
    height: 25% ;   
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: transform 0.2s ,filter 1s;
}


img:hover{
    transform: scale(1.5);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

.valorant{
    background-image: url(../../../../assets/valorantbg-bw.jpg);
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: background-image 1s;
}

.valorant:hover{
    background-image: url(../../../../assets/valorantbg.jpeg);
    background-size: cover;
    background-position: center;
}