<div class="main-container">

    <div class="socials">
        <a href="https://web.facebook.com/FXGTeam" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/FXG_MA" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCIfcVnJS0qoPMoKNW5c4VdQ" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-twitch"></i></a>
    </div>
    <div class="footer-menu">
        <div class="fox-img"><img src="../../assets/fxg-logo-bordered.png" alt="team-logo"></div>
        <div class="fox-gaming-section">
            <h1>Fox Gaming</h1>
            <a href="#">News</a>
            <a href="#">About</a>
            <a href="#">Partners</a>
            <a href="#">Careers</a>
            <a href="#">Contact</a>
        </div>
        <div class="shop-section">
            <h1>Shop</h1>
            <a href="#">All Products</a>
            <a href="#">Pro Kit</a>
            <a href="#">National Jerseys</a>
            <a href="#">LifeStyle</a>
            <a href="#">Hardware</a>
            <a href="#">Accessorries</a>
        </div>
        <div class="teams-section">
            <h1>Teams</h1>
            <a href="#">League of legends</a>
            <a href="#">Valorant</a>
            <a href="#">Rocket League</a>
            <a href="#">CS:GO</a>
        </div>
        <div class="search-payment-section">
            <div class="search-section">
                <h2>Latest Fox <span class="primary-color">Merch</span> is waiting for you</h2>
                <div class="search"><input type="text"><button>Sign Up</button></div>
            </div>
            <div class="payment">
                <h2>Payment Methods</h2>
                <div class="boxes">
                    <div class="box box1"></div>
                    <div class="box box2"></div>
                    <div class="box box3"></div>
                    <div class="box box4"></div>
                </div>
            </div>
            </div>
            </div>

    <div class="copyrights">
        <span class="copyrights-spans">
            © 2021, MENA - FOX Gaming. All Rights Reserved. <br>
        </span>
        <div class="mid-menu">
            <a href="#">Privacy</a>
            <a href="#">Imprint</a>
            <a href="#">Terms</a>
        </div>
        <span class="copyrights-spans">Developed by Achraf ELLKHANDOULI</span>
    </div>
</div>