.main-container{
    height: 60vh;
    background-color: black;
    font-family: 'Oswald';
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: white;
}


.socials{
    margin-top: 20px;
    display: flex; 
    padding: 15px;
    justify-content: center;
}

.socials i{
    font-size: 35px;
    margin: 0 20px; 
}

.socials i:hover{
    color:var(--primary-color)
}

.footer-menu{
    display: flex; 
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
}

.footer-menu a:hover{
    color:var(--primary-color)
}

.footer-menu h1{
    color:var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.fox-img{
    flex:2;
    padding-left: 30px;
    display:flex; 
    align-items: center;
}

.footer-menu img{
    height: 100px; 
    width: 100px;
}

.fox-gaming-section, 
.shop-section, 
.teams-section{
    display: flex; 
    flex-direction: column;
    flex:2
}

.search-payment-section{
    flex:4;
    display: flex; 
    flex-direction: column;
    justify-content:space-around;
    margin-left: 200px;
}


.search-payment-section h2{
    color:white; 
    font-size: 14px;
    font-weight: 400;
}

button{
    width: 60px;
    background-color: var(--primary-color);
    color:white; 
    border:none;
    padding:5px;
    font-family: 'Oswald';
    font-weight: 600;
    transition: background-color 0.5s, color 0.5s ;
    border: 1px solid var(--primary-color);
    text-transform: uppercase;
    

}

button:hover{
    color:var(--primary-color); 
    background-color: white; 
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.search{
    margin-top: 5px;
    width: 300px
}

input{
    width: 200px;
    padding: 5px;
    border:none;
    outline: none;
    font-family: 'Oswald';
    font-weight: 600;
}

.primary-color{
    color:var(--primary-color); 
    font-weight: 500;
}
.boxes{
    display: flex; 
    flex-direction: row;
}
.box{
    height: 40px; 
    width: 50px;
    border-radius: 20%;
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box1{
    background-image: url(../../assets/master-card.png);

}

.box2{
    background-image: url(../../assets/paypal.png);
}

.box3{
    background-image: url(../../assets/visa.png);
}

.copyrights{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 9px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.copyrights a{
    margin: 0 5px; 
}

.copyrights a:hover{
    color: var(--primary-color);
}

.copyrights-spans{
    margin: 0 10px;
}

@media screen and (max-width: 900px) {
    .search-payment-section{
        display: none;
    }

    .footer-menu h1{
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer-menu a{
        font-size: 12px;
    }

}
    
