<div class="main">
    <div class="main-container">
        <div class="merch-title">
            <h1>MERCH</h1>
            <h2>Fox Gaming <span>Merch</span></h2>
            <img src="../../../../assets/senyu.png" alt="">
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let product of mockProducts">
                <img (click)="onVisiteProduct(product)" src="{{product.productIcon}}" alt="">
                <h1>{{product.productDescription}}</h1>
                <h2>{{product.productPrice}}DH</h2>
                <i  title="add to wishlist" class="fas fa-heart"></i>
                <i title="add to cart" class="fas fa-shopping-cart"></i>

            </div>
        </div>
    </div>
    <div class="warranty-policy">
    </div>
</div>